body{
    margin:0;
}

.picture{
    background: white;
    background-position: center;
    background-size: cover;
    width: 100%;
}


.picture .cont{
    height: 100vh;
    max-width: 1200px;
    margin-right:auto;
    margin-left:auto;
    display: flex;

}
.picture .cont .content{
    overflow-y:auto;
    overflow-x:hidden;
    flex:2.5;
}

.picture .cont .content::-webkit-scrollbar{
    display: none;
}

.picture .cont .nav{
    flex:1;
}

.picture .cont .content .card{
    font-family: 'Oswald', sans-serif;
    background: white;
    border:1px solid #eee;
    margin-top:100px;
}

.picture .cont .content .card .flexslider{
    font-family: 'Oswald', sans-serif;
    border-radius: 2px;
    border: none;
    background:white;
    color:white;
}

.picture .cont .content .card .title{
    display: flex;
    align-items: center;
    padding-left:30px;
    border-bottom:1px solid #eee;
}

.picture .cont .content .card .title img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.picture .cont .content .card .text{
    min-height: 150px;
    padding-left:30px;
    border-top:1px solid #eee;
}

.picture .cont .content .card .flexslider .img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    background:white;
}

.picture .cont .content .card .flexslider .img img{
    max-height: 100%;
    width:auto;
    max-width: 100%;
}

.picture .nav{
    padding-left:50px;
    color:white;
    font-family: 'Oswald', sans-serif;
    margin-top:200px;
}

.picture .nav ul{
    list-style: none;
    border-radius: 2px;
    background:white;
    padding:20px 30px;
    margin-top:0;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.picture .nav ul li{
    margin-left:20px;
    display: block;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
}

.picture .nav ul li a{ 
    display: flex;
    align-content: center;
    color:black;
    text-decoration: none;
}

.picture .nav ul li  img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right:20px;
    padding:2px;
    border:2px solid rgb(200,5,69);
}
.picture .nav .nav_header{
    margin-bottom:40px;
}

.picture .nav .nav_header h2{
    margin:0;
    font-size:18px;
    color:black;
}

.picture .nav .nav_header p{
    margin:0;
    color:black;
    opacity: .6;
    font-size: 12px;
}

.picture .nav .nav_header .nav_master{
    padding-left:20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.picture .nav .nav_header .nav_master img{
    height:50px;
    width: 50px;
    border-radius: 50%;
    margin-right:20px;
}

.picture .nav ul li .nav_navg h4{
    margin:0;
    font-size:18px;
    color:black;
}

.picture .nav ul li .nav_navg p{
    margin:0;
    color:black;
    opacity: .6;
    font-size: 12px;
}

.picture .nav .nav_box{
    border: 1px solid #eee;
}

.picture .nav .nav_box .box_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left:20px;
    padding-right: 20px;
    color:#444;
    margin-bottom:0;
    margin-top:20px;
}

.picture .nav .nav_box .box_title h5{
    font-size:20px;
    margin:0;
    opacity: .5;
}

.picture .nav .nav_box .box_title p{
    margin:0;
    display: flex;
    align-items: flex-end;
}