body{
    margin:0;
}

.noti{
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
}

.noti .con{
    padding-top:150px;
    padding-bottom:150px;
    color: black;
    letter-spacing: 2px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.noti .con .noti_search{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 50px;
}
.noti .con .noti_title h1{
    margin:0;
    font-size: 42px;
    letter-spacing: 2px;
    color:#444;
}

.noti .con table{
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
    width: 1000px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

.noti .con a{
    font-size:14px;
    background:transparent;
    border:none;
    display: block;
    width: 100%;
    text-decoration: none;
    color:black !important;
}

.noti .con a:focus{
    outline:none;
}

.noti .con table th{
    height: 50px;
    vertical-align: center;
    padding: 5px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.noti .con table td {
    height: 50px;
    vertical-align: cente;
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
}

.noti .con table tbody tr{
    transition:.3s;
}

.noti .con table tbody tr:hover {
    transition:.3s;
    background-color: #eee;
}

.noti .con table .one{
    width: 20%;
    text-align: center;
}

.noti .con table .two{
    padding-left:50px;
}
.noti .con table .three{
    text-align: center;
    font-size:10px;
    width:25%;
}
.noti .con table .four{
    text-align: center;
    font-size:14px;
    width:15%;
}

.noti .con .current{
    opacity: 0.4;
}

.modal_3 {
    font-family: 'Oswald', sans-serif;
    display: none; 
    position: absolute;
    z-index: 99; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    
    background-color: rgba(0,0,0,0.9); 
}

.modal-content3 {
    overflow: hidden; 
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-content3 .modal-header3{
    padding-top:25px;
    padding-bottom:25px;
    background:rgb(200,5,69);
    padding-left:50px;
    padding-right:50px;
}

.modal-content3 .modal-header3 h2{
    font-family: 'Oswald', sans-serif;
    color:white;
    margin:0;
}

.modal-content3 .modal-body3{
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.modal-content3 .modal-body3 .modal_notice_des{
    overflow-y: auto;
    max-height: 400px;
    color:black;
}

