body{
    margin:0;
}


.intro {
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(../img/notification.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.intro .des{
    word-break: keep-all;
    font-family: 'Oswald', sans-serif;
    padding-left:50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-bottom:30px;
}


.intro .des h1{
    letter-spacing: 5px;
    font-size:38px;
}

.intro .des p{
    letter-spacing: 2px;
}

.intro .des .flex{
    color:white;
}

.gap{
    color:white;
    letter-spacing: 10px;
    padding:40px 50px;
    background:rgba(0,0,0,0.9);
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap .con{
    text-align: center;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(../img/noti.jpg);
    background-size:cover;
    background-position:center;}

.show .con{
    color: white;
    letter-spacing: 2px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.show .con .card{
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
    background:rgba(0,0,0,0.2);
}

.show .con .card .title .main{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.show .con .card .title .sub_title{
    padding-left:20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.show .con .card .title .sub_title i{
    margin-right:10px;
}


.show .con .card .title .sub_title p {
    margin-right: 40px;
    font-size: 10px;
}

.show .con .card .title .sub_title p a{
    color: white;
    text-decoration: none;
}

.show .con .card .title .sub_title .focus:hover{
    cursor: pointer;
}

.show .con .card .content{
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
    padding: 50px 50px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.show .con .card .content::-webkit-scrollbar-track {
    background: #12353d; 
}

.show .con .card .content img{
    width:100%;
    height: auto;
}

.show .con .card .content p{
    word-wrap: break-word;
    word-break: keep-all;
}

.show .con .go{
    font-family: 'Oswald', sans-serif;
    padding:20px 50px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgba(0,0,0,0.2);
}

.show .con .go a{
    color:white;
    text-decoration: none;
}

.show .con .go a i{
    margin-left:10px;
    margin-right: 10px;
}
