{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="signup">
        <div class="con">
            <form action="{%url 'signup' %}" method="POST">
                <h1>회원가입</h1>
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_id" placeholder="&#xf007;     Username">
                </div>
                <div class="form-group">
                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="passwd1" placeholder="&#xf023;      Password">
                </div>
                <div class="form-group">
                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="passwd2" placeholder="&#xf023;      Password confirm">
                </div>
                <input class="input" type="submit" value="submit" >
            </form>
        </div>
    </section>
    <script>
        window.onload=sign;
        function sign(){
            if ({{status}} == 1) alert("{{error}}");
        }
    </script>
    <!-- <script>
        function abc(post_id){
            $.ajax({
                type: "POST",
                url: "/algorithm/more/",
                data: {'pk': post_id, 'csrfmiddlewaretoken':'{{csrf_token}}'},
                dataType: "json",
                success: function(res){
                    console.log(res.body);
                    $("#summary-"+post_id).replaceWith('<p>'+res.body+'</p>')
                    $(".btn-"+post_id).remove();
                },
                error: function(request, status, error){
                    alert(error);
                },
            });
        }
    </script> -->
{% endblock %}
