{% extends "base.html" %}
{% block content %}
<section class="intro">
    <div>
        <div class="des">
            <div class="flex">
                <h1>멋사를 함께하게 되어 반가워요</h1>
                <p>멋사를 하면서 우리는 앞으로 많은 일들을 하게 될 거예요! 우리 모두 즐겨요!</p>
            </div>
        </div>
    </div>
</section>

<section class="gap">
    <div class="con">
        <h1><i class="fas fa-exclamation-circle"></i></h1>  
        <h1>공지사항</h1>
    </div>
</section>

<section class="show">
    <div class="con">
        <div class="card">
            <div class="title">
                <div class="main">
                    <h1>{{notice.title}}</h1>
                </div>
                <div class="sub_title">
                    <p><i class="fas fa-calendar-alt"></i>{{notice.pub_date}}</p>
                    <p><i class="fas fa-user"></i>작성자</p>
                </div>
            </div>
            <div class="content">
                <p>{{notice.body}}</p>
            </div>
        </div>
        <div class="go">
            {% if prev == 0 %}
                <a href="#" onclick="alert('처음 공지 입니다!')"><i class="fas fa-angle-left"></i> previous</a>
            {% else %}
                <a href="{% url 'notice:detail' prev %}"><i class="fas fa-angle-left"></i> previous</a>
            {% endif %}
            <a href="{% url 'notice:notice'%}">list</a>
            {% if next == 0 %}
                <a href="#" onclick="alert('마지막 공지 입니다!')">next <i class="fas fa-angle-right"></i></a>
            {% else %}
                <a href="{% url 'notice:detail' next %}">next <i class="fas fa-angle-right"></i></a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}