{% extends "base.html" %}
{% block content %}
{% load static %}
    <section class="noti">
        <div class="con">
            <div class="noti_search">
                <div class="noti_title">
                    <h1>Notice</h1>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>글쓴이</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                        <tr>
                            <td class="two">
                                <a href="{% url 'notice:detail' notice.id %}"><p>{{notice.title}}</p></a>
                            </td>
                            <td class="three"><p>{{notice.pub_date}}</p></td>
                            <td class="four"><p>관리자</p></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="display:flex; justify-content:center; align-items:center; margin-top:20px;">
                <div class="pagination">
                    <div>
                        {% if notices.has_previous %}
                            <a href="?page={{qnas.previous_page_number}}"><i class="fas fa-angle-left"></i></a>
                        {% endif %}
                    </div>
                    <div>
                        <span>{{notices.number}}</span>
                        <span>of</span>
                        <span>{{notices.paginator.num_pages}}</span>
                    </div>
                    <div>
                        {% if notices.has_next %}
                            <a href="?page={{qnas.next_page_number}}"><i class="fas fa-angle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% endblock %}