{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="show">
    <div class="con">
        <div class="card">
            <div class="title">
                <div class="main">
                    <h1>{{qna.title}}</h1>
                </div>
                <div class="sub_title">
                    <p><i class="fas fa-calendar-alt"></i>{{qna.pub_date}}</p>
                    <p><i class="fas fa-user"></i>{{qna.user.username}}</p>
                    {% if canEdit == True %}
                    <!-- <a heref="{% url 'qna:edit' qna.id%}" class="focus">edit</a> -->
                        <p><a href="{% url 'qna:edit' qna.id%}" class="focus"><i class="fas fa-edit"></i>edit</a></p>
                        <!-- <p><a id="myBtn" class="focus"><i class="fas fa-edit"></i>edit</a></p> -->
                        <p><a href="{% url 'qna:delete' qna.id %}" class="button"><i class="fas fa-trash-alt"></i>delete</a></p>
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <form action="{% url 'qna:update' qna.id %}" onsubmit="SubmitQ()" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <span class="close">&times;</span>
                                        <input type="textarea", name='title' autocomplete=off value="{{qna.title}}">
                                        <div class="file">
                                            <input type="file" name="file" multiple>   
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <!-- <input type="text", id='qna_body'name='body' autocomplete=off placeholder="내용을 입력하세요"> -->
                                        <textarea name='body' id='qna_body' autocomplete=off >{{qna.body}}</textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <i class="fas fa-angle-double-right"></i>
                                        <input type="submit" value="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <p id= "qna_body">{{qna.body}}</p>
                {% for pic in qna.photo_set.all%}
                    <img src="{{pic.image.url}}" alt="picture">
                {% endfor %}
            </div>
        </div>
        <div class="go">
            {% if prev == 0 %}
                <a href="#" onclick="alert('처음 질문 입니다!')"><i class="fas fa-angle-left"></i> previous</a>
            {% else %}
                <a href="{% url 'qna:detail' prev %}"><i class="fas fa-angle-left"></i> previous</a>
            {% endif %}
            <a href="{% url 'qna:board' %}">list</a>
            {% if next == 0 %}
                <a href="#" onclick="alert('마지막 질문 입니다!')">next <i class="fas fa-angle-right"></i></a>
            {% else %}
                <a href="{% url 'qna:detail' next %}">next <i class="fas fa-angle-right"></i></a>
            {% endif %}
        </div>
    </div>
</section>
<script>
function changeStr(){
    var str = document.getElementById("qna_body").innerHTML;
    document.getElementById("qna_body").innerHTML= document.getElementById("qna_body").innerText
}
window.onload=changeStr;
</script>

<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% endblock content %}

