{% extends "base.html" %}
{% block content %}
{% load static %}
    <section class="qna_new">
        <div class="con">
            <div class="content">
                <!--<form action="{% url 'qna:create' %}" onsubmit="SubmitQ()" enctype='multipart/form-data' method="POST">
                    <div class="title">
                        <h2>질문하기</h2>
                    </div>
                    {% csrf_token %}
                    <div class="input_title">
                        <input type="textarea", name='title' autocomplete=off placeholder="제목을 입력하세요">
                    </div>
                    <div class="input_content">
                        <textarea name='body' autocomplete=off placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <div class="input_file">
                        <input type="file" name="file" multiple>
                    </div>
                    <div class="input_submit">
                        <i class="fas fa-angle-double-left"></i>
                        <input type="submit" value="Submit">
                    </div>
                </form>-->
                <form action="{% url 'qna:editQNA' qna.id%}" onsubmit="SubmitQ()" method="POST">
                    {% csrf_token %}
                    {{form.media}}
                    <table>
                    {{form.as_table}}
                    </table>
                    <br>
                        <input class="btn btn dark" type="submit" value="제출하기">
                    </form>
                </form>
            </div>
            
        </div>
    </section>
    
    <script>
        function SubmitQ() {
            console.log(document.getElementById("qna_body").value)
            var str = document.getElementById("qna_body").value;

            str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');

            document.getElementById("qna_body").value = str;
            return true;
        }
    </script>
{% endblock content %}