{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="qna_intro">
    <div>
        <div class="des">
            <div class="flex">
                <h1>멋사를 함께하게 되어 반가워요</h1>
                <p>멋사를 하면서 우리는 앞으로 많은 일들을 하게 될 거예요! 우리 모두 즐겨요!</p>
            </div>
        </div>
    </div>
</section>

<section class="gap">
    <div class="con">
        <h1><i class="fas fa-exclamation-circle"></i></h1>  
        <h1>질문게시판</h1>
    </div>
</section>

<section class="qna">
    <div class="con">
        <table>
            <thead>
                <tr>
                <th>#</th>
                <th>제목</th>
                <th>날짜</th>
                <th>글쓴이</th>
                </tr>
            </thead>
            <tbody>
                {% for qna in qnas %}
                    <tr>
                        <th class="one">{{qna.id}}</th>
                        <td class="two"><a href="{%url 'qna:detail' qna.id %}">{{qna.title}}</a></td>
                        <td class="three"><p>{{qna.pub_date}}</p></td>
                        <td class="four">{{qna.user.username}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="new">
            {% if user.is_authenticated %}
                <i class="fas fa-angle-double-left"></i>
                <button id="myBtn">질문하기</button>
            {% else %}
                <i class="fas fa-angle-double-left"></i>
                <button class="nouser" onClick="alert('로그인해주세요')">질문하기</button>
            {% endif %}
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <form action="{% url 'qna:create' %}" onsubmit="SubmitQ()" enctype='multipart/form-data' method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <input type="textarea", name='title' autocomplete=off placeholder="제목을 입력하세요">
                            <div class="file">
                                <input type="file" name="file" multiple>   
                            </div>
                        </div>
                        <div class="modal-body">
                            <!-- <input type="text", id='qna_body'name='body' autocomplete=off placeholder="내용을 입력하세요"> -->
                            <textarea name='body' id='qna_body' autocomplete=off placeholder="내용을 입력하세요"></textarea>
                        </div>
                        <div class="modal-footer">
                            <i class="fas fa-angle-double-right"></i>
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="display:flex; justify-content:center; align-items:center; margin-top:20px;">
            <div>
                {% if qnas.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{qnas.previous_page_number}}">Previous</a>
                {% endif %}

                <span>{{qnas.number}}</span>
                <span>of</span>
                <span>{{qnas.paginator.num_pages}}</span>

                {% if qnas.has_next %}
                    <a href="?page={{qnas.next_page_number}}">Next</a>
                    <a href="?page={{qnas.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
        </div>
        <!-- <div id="pagination" style="margin-top:25px; display:flex; justify-content:center;">
            {{ qnas.render }}
        </div> -->
    </div>
</section>
<script>
function SubmitQ() {
    console.log(document.getElementById("qna_body").value)
    var str = document.getElementById("qna_body").value;

    str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');

    document.getElementById("qna_body").value = str;
    return true;
}

</script>


<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


{% endblock content %}