{% extends "base.html" %}
{% block content %}
{% load static %}
    <section class="qna">
        <div class="con">
            <div class="qna_search">
                <div class="qna_title">
                    <h1>Questions</h1>
                </div>
                <form action="{% url 'qna:search' %}">
                    <input class="search_input" type="text" name='search' placeholder="find question">
                    <button class="search_enter" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>글쓴이</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for qna in kwds %}
                        <tr>
                            <td class="two"><a href="{% url 'qna:detail' qna.id %}">{{qna.title}}</a></td>
                            <td class="three"><p>{{qna.pub_date}}</p></td>
                            {% if qna.user.is_superuser %}
                                <td class="four">관리자</td>
                            {% else %}
                                <td class="four">{{qna.user.username}}</td>
                            {% endif %}
                        </tr>
                        {% for ans in qna.answer_set.all %}
                            <tr>
                                <td class="two"><a href="{%url 'qna:ans' ans.id %}">└답변: {{ans.title}}</a></td>
                                <td class="three"><p>{{ans.pub_date}}</p></td>
                                <td class="four">관리자</td>
                            </tr>   
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="new">
                {% if user.is_authenticated %}
                    <i class="fas fa-angle-double-left"></i>

                    <button class="nouser" onclick="window.location.href='{% url 'qna:newQNA' %}'">질문하기</button>

                {% else %}
                    <i class="fas fa-angle-double-left"></i>
                    <button class="nouser" onClick="nouser('{% url 'login'%}')" >질문하기</button>
                {% endif %}
            </div>
            <div style="display:flex; justify-content:center; align-items:center; margin-top:20px;">
                <div class="pagination">
                    <div>
                        {% if kwds.has_previous %}
                            <a href="?page={{qnas.previous_page_number}}"><i class="fas fa-angle-left"></i></a>
                        {% endif %}
                    </div>
                    <div>
                        <span>{{kwds.number}}</span>
                        <span>of</span>
                        <span>{{kwds.paginator.num_pages}}</span>
                    </div>
                    <div>
                        {% if kwds.has_next %}
                            <a href="?page={{qnas.next_page_number}}"><i class="fas fa-angle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function nouser(url){
            alert('로그인해주세요');
            window.location.href= url;
        }
    </script>

{% endblock content %}