

{% extends "base.html" %}
{% load static %}
{% block content %}

    <div id="fullpage">
        <!--header-->
        <div class="section">
            <section class="history_intro">
                <div>
                    <div class="des">
                        <div class="flex">
                            <h1>멋사를 함께하게 되어 반가워요</h1>
                            <p>멋사를 하면서 우리는 앞으로 많은 일들을 하게 될 거예요! HACK YOUR LIFE!</p>
                        </div>
                    </div>

                    <div class="con">
                        <div class="dot">
                            <a target="_blank" href="https://likelion.net/ko"><h1>중앙</h1></a>
                        </div>
                        <div class="dot">
                            <a href="#five"><h1>5기</h1></a>
                        </div>
                        <div class="dot">
                            <img src="{% static 'img/logo_circle.png' %}" alt="">
                        </div>
                        <div class="dot">
                            <a href="#six"><h1>6기</h1></a>
                        </div>
                        <div class="dot">
                            <a href="#seven"><h1>7기</h1></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--five master-->
        <div class="section">
            <section id="five" class="master">
                <div class="title">
                    <h1>2017년 경북대학교 LIEKLION 5기 운영진</h1>
                    <p>멋사 5기를 준비하기 위해 많은 시간과 노력을 한 운영진입니다!</p>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="http://vicals.xyz/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이우섭.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이우섭</h1>
                                                <h4>경북대학교 LIKELION 운영진 대표</h4>
                                                <p>멋쟁이!!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://comeng.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/박신애.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>박신애</h1>
                                                <h4>경북대학교 LIKELION 운영진 부대표</h4>
                                                <p>사자처럼!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>   
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--five student-->
        <div class="section">
            <section class="student">
                <div class="title">
                    <h1>2017년 경북대학교 LIEKLION 5기 학생</h1>
                    <p>2017 경북대학교 멋쟁이 사자처럼 5기를 소개합니다!</p>
                </div>
                <div class="flexslider ">
                    <ul class="slides">
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://neurri.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/곽하늘.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>곽하늘</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>LYL</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ehddud559.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김동영.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김동영</h1>
                                                <h4>경경북대학교 LIKELION 5기</h4>
                                                <p>사자가될거야!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://pixelfaace.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/백지희.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>백지희</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>~_~</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://hyojushin.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/신효주.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>신효주</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>LIKE AWESOME LION!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>   
                        </li>
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://ryeoung.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이령홍.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이령홍</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>잘 봐주세요^^</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://simpo12.github.io/simpo123.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이재홍.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이재홍</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>YOLO!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://lwt1347.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이준우.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이준우</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>Unpretty Web Star!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://hongeunlee.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이홍은.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이홍은</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>HAKUNA MATATA!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li class="atom">
                                    <a target="_blank" href="https://janghyoin.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/장효인.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>장효인</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>Seize the day !</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://zelight.github.io/#/">
                                        <div class="content">
                                            <img src="{% static 'img/student/차영광.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>차영광</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>PP</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://hataehatae.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/하태윤.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>하태윤</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>하태하태~</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://nicewoong.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/한웅제.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>한웅제</h1>
                                                <h4>경북대학교 LIKELION 5기</h4>
                                                <p>배고프면 지방을
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- six master-->
        <div class="section">
            <section id="six" class="master">
                <div class="title">
                    <h1>2018년 경북대학교 LIEKLION 6기 운영진</h1>
                    <p>멋사 6기를 준비하기 위해 많은 시간과 노력을 한 운영진입니다!</p>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://janghyoin.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/장효인.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>장효인</h1>
                                                <h4>경북대학교 LIKELION 운영진 대표</h4>
                                                <p>멋쟁이 사자처럼!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://ryeoung.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이령홍.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이령홍</h1>
                                                <h4>경북대학교 LIKELION 운영진 부대표</h4>
                                                <p>놀고싶다</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://vicals.xyz/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이우섭.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이우섭</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>Trapick.me!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>   
                        </li>
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://lwt1347.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이준우.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이준우</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>Unpretty Web Star</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://ehddud559.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김동영.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김동영</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>#호랑이도 좋아</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- six student-->
        <div class="section">
            <section class="student">
                <div class="title">
                    <h1>2019년 경북대학교 LIEKLION 6기 학생</h1>
                    <p>2019 경북대학교 멋쟁이 사자처럼 6기를 소개합니다!</p>
                </div>
                <div class="flexslider ">
                    <ul class="slides">
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://dheldh77.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김민석.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김민석</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>열심히 하겠습니다</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://kjsu0209.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김정수.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김정수</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>I LIKELION!!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://jiyeon9673.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김지연.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김지연</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>열심히 배울게요😊</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://scy0626.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/손채영.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>손채영</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>겜, 술친구 둘다 구해요~~</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://yoo-jaein.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/유재인.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>유재인</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>멋쟁이 토마토</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://yoonshinwoong.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/윤신웅.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>윤신웅</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>잘 부탁드립니다!!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://mandarine3.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이규민.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이규민</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>마! 코딩해뿌자</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://leesanha.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이산하.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이산하</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>경북대 멋사 6기 화이팅!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li class="atom">
                                    <a target="_blank" href="https://seanlee211.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이수진.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이수진</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>멋쟁이 사자처럼 6기 화이팅!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://sijune.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이시준.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이시준</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>열심히 할께요 ㅎㅎ</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://leejiin.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이지인.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이지인</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>Vita Dolce</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://leeh0.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이지현.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이지현</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>버둥바둥</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li class="atom">
                                    <a target="_blank" href="https://chaehanbin.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/채한빈.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>채한빈</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>>_<</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://yeonjudkwl.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/홍연주.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>홍연주</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>멋.쟁이 사자처럼 6</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://suk0.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/황수경.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>황수경</h1>
                                                <h4>경북대학교 LIKELION 6기</h4>
                                                <p>Make my day</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- seven -->
        <div class="section">
            <section id="seven" class="master">
                <div class="title">
                    <h1>2019년 경북대학교 LIEKLION 7기 운영진</h1>
                    <p>멋사 7기를 준비하기 위해 많은 시간과 노력을 한 운영진입니다!</p>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://dheldh77.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김민석.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김민석</h1>
                                                <h4>경북대학교 LIKELION 운영진 대표</h4>
                                                <p>힘내..!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://yoo-jaein.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/유재인.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>유재인</h1>
                                                <h4>경북대학교 LIKELION 운영진 부대표</h4>
                                                <p>멋쟁이 토마토</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://leesanha.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이산하.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이산하</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>경북대 멋사 7기 화이팅!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>   
                        </li>
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://yoonshinwoong.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/윤신웅.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>윤신웅</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>잘 부탁드립니다!!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://sijune.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이시준.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>이시준</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>열심히 할께요 ㅎㅎ</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://kjsu0209.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김정수.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김정수</h1>
                                                <h4>경북대학교 LIKELION 운영진</h4>
                                                <p>I LIKELION!!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="section">
            <section class="student">
                <div class="title">
                    <h1>2019년 경북대학교 LIEKLION 7기 학생</h1>
                    <p>2019 경북대학교 멋쟁이 사자처럼 7기를 소개합니다!</p>
                </div>
                <div class="flexslider ">
                    <ul class="slides">
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://onesin32.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/권구문.png' %}" alt="">
                                            <div class="text">
                                                <h1>권구문</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>2회차 새내기</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://run2grun.github.io/20190328THU/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김근영.png' %}" alt="">
                                            <div class="text">
                                                <h1>김근영</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>0이의 모험</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://dhkim3.github.io/1thproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김동희.png' %}" alt="">
                                            <div class="text">
                                                <h1>김동희</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>소고기먹구싶당 ㅠㅠ</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="">
                                        <div class="content">
                                            <img src="{% static 'img/student/이우섭.jpg' %}" alt="">
                                            <div class="text">
                                                <h1>김서진</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li>
                                    <a target="_blank" href="https://k-d-junha.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김준하.png' %}" alt="">
                                            <div class="text">
                                                <h1>김준하</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>Plus Ultra!!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://krokerdile.github.io/firstproject_likelion/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김현우.png' %}" alt="">
                                            <div class="text">
                                                <h1>김현우</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>멋지게, 열심히, 즐겁게</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://heesu-kim.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/김희수.png' %}" alt="">
                                            <div class="text">
                                                <h1>김희수</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>대체 불가능한 사람되기</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://enjoyingan.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/박훈.png' %}" alt="">
                                            <div class="text">
                                                <h1>박훈</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>민석노예</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li class="atom">
                                    <a target="_blank" href="https://sjh7548750.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/서주희.png' %}" alt="">
                                            <div class="text">
                                                <h1>서주희</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>즐기며살자~</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://wodlf3393.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/오재일.png' %}" alt="">
                                            <div class="text">
                                                <h1>오재일</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>멋사 7기 화이또</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://jieuno.github.io/Like-Lion_firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/오지은.png' %}" alt="">
                                            <div class="text">
                                                <h1>오지은</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>Enjoy Your Life!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://lk-lab.github.io/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이동건.png' %}" alt="">
                                            <div class="text">
                                                <h1>이동건</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>수학 물리 복전생</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li class="atom">
                                    <a target="_blank" href="https://leeseungin.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이승인.png' %}" alt="">
                                            <div class="text">
                                                <h1>이승인</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>조금 더 성장!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://caeruleum00.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이윤정.png' %}" alt="">
                                            <div class="text">
                                                <h1>이윤정</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>베짱이가 될테야</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://wnsdus306.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/이준연.png' %}" alt="">
                                            <div class="text">
                                                <h1>이준연</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>Vamos Amigo</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://hyedinion.github.io/firstlion/">
                                        <div class="content">
                                            <img src="{% static 'img/student/정혜진.png' %}" alt="">
                                            <div class="text">
                                                <h1>정혜진</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>아기 사자 뚜루루뚜루🎵</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list">
                                <li class="atom">
                                    <a target="_blank" href="https://anggeumi.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/정혜지.png' %}" alt="">
                                            <div class="text">
                                                <h1>정혜지</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>( ^-^.)/</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="atom">
                                    <a target="_blank" href="https://book3620.github.io/firstproject/">
                                        <div class="content">
                                            <img src="{% static 'img/student/채희주.png' %}" alt="">
                                            <div class="text">
                                                <h1>최희주</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>인생은 새옹지마</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://tkekdzhd.github.io/likelion/">
                                        <div class="content">
                                            <img src="{% static 'img/student/천가영.png' %}" alt="">
                                            <div class="text">
                                                <h1>천가영</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>열심히 합시당</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://pmi4202.github.io/Foilo/index.html">
                                        <div class="content">
                                            <img src="{% static 'img/student/편예린.png' %}" alt="">
                                            <div class="text">
                                                <h1>편예린</h1>
                                                <h4>경북대학교 LIKELION 7기</h4>
                                                <p>like-lion🦁</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(window).load(function() {
    jQuery('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
            jQuery('.flexslider').resize();
        }
    });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/vendors/scrolloverflow.min.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/vendors/scrolloverflow.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.js"></script>
<script>
    new fullpage('#fullpage', {
        licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
        navigation: true,
        normalScrollElements: '.history_scroll',
        scollOverflow: true
    });
</script>

{% endblock content %}

