{% extends 'base.html' %}
{% block content %}
{% load static%}
    <div id="fullpage">
        <div class="section">
            <section class="home_intro">
                <div class="des">
                    <div class="flex">
                        <h1 id="app0_1">멋사를 함께하게 되어 반가워요</h1>
                        <p id="app0_2">멋사를 하면서 우리는 앞으로 많은 일들을 하게 될 거예요! 우리 모두 즐겨요!</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="section">
            <section id="service" class="serv">
                <div class="con">
                    <div class="title app1">
                        <h1>멋사가 뭐에요?</h1>
                    </div>
                    <div id="app1_2" class="icon">
                        <div id="item1" onmouseover="change_text('text1')" class="item">
                            <i class="fab fa-chrome"></i>
                            <h2>PROGRAMING IS LIKE MAGIC</h2>
                        </div>
                        <div id="item2" onmouseover="change_text('text2')" class="item">
                            <i class="fas fa-laptop"></i>
                            <h2>HACK YOUR LIFE</h2>
                        </div>
                        <div id="item3" onmouseover="change_text('text3')" class="item">
                            <i class="fas fa-child"></i>
                            <h2>OPTIMIZED TO CHANGE LIFE</h2>
                        </div>
                    </div>
                    <div id="app1_1" class="content">
                        <div>
                            <div class="quo1">
                            <h1><i class="fas fa-quote-left"></i></h1>
                            </div>
                            <div id="text1" class="text1">
                                <p>Ruby 라는 언어를 배우고 Ruby On Raills를 통해 웹서비스를 만들겁니다! 그리고 2018년에는 더 많은 것들을 배울 수 있도록 준비하고 있습니다 :)</p>
                            </div>
                            <div id="text2" class="text2">
                                <p>프로그래밍을 통해 우리의 삶을 바꾸는 도전을 합니다! 그 첫단계로 자신의 아이디어를 실현합니다 :)</p>
                            </div>
                            <div id="text3" class="text3">
                                <p>지루한 일상에서 무언가 새로운 것을 찾고 있으신가요? 그렇다면 멋쟁이 사자처럼이 도와드립니다!</p>
                            </div>
                            <div class="quo2">
                                <h1><i class="fas fa-quote-right"></i></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="section">
            <div class="special">
                <div class="home_ad">
                    <div class="ad">
                        <div class="title">
                            <div class="app2" style="text-align:start;">
                                <h1>멋사소식이닷!</h1>
                                <p>이렇게 저렇게 진행됩니다</p>
                            </div>
                        </div>
                        <div id="app2_1" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="content">
                                        <img src="{% static 'img/new/n1.jpg'%}" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <img src="{% static 'img/new/n2.jpg'%}" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <img src="{% static 'img/new/n3.jpg'%}" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <img src="{% static 'img/new/n4.jpg'%}" alt="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="scroll" class="section">
            <section class="sch_text">
                <div class="gap_2">
                    <div class="con">
                        <h1>멋사 7기 공식 일정</h1>
                    </div>
                </div>
                <div class="con">
                    <div class="timeline">
                        <div class="container left">
                            <div class="content">
                                <h2>7기 모집(2019.2.20 ~ 3.7)</h2>
                                <p>3/7 지원 마감, 3/8 ~ 3/9 면접, 3/10 최종 발표<br>1년간 함께 할 <span style="color:#EE7600;">멋쟁이 사자처럼 7기</span>를 모집합니다. </p>
                            </div>
                        </div>
                        <div class="container right">
                            <div class="content">
                                <h2>7기 세션 시작(2019.3.11 ~)</h2>
                                <p>html, css, javascript, python, django 등을 통해 <br><span style="color:#F08080;">웹 어플리케이션의 전반</span>에 대해 배우게 됩니다.</p>
                            </div>
                        </div>
                        <div class="container left">
                            <div class="content">
                                <h2>교내 해커톤(2019.5.24 ~ 5.25)</h2>
                                <p>그 동안 배웠던 내용을 기반으로 <br> 경북대학교 멋쟁이 사자처럼 <span style="color:#EEC900;">교내 해커톤</span>을 실시합니다.<br>여러분의 실력을 맘껏 뽐내주세요!</p>
                            </div>
                        </div>
                        <div class="container right">
                            <div class="content">
                                <h2>아이디어톤(2019.7.20)</h2>
                                <p>여러분이 꿈꾸왔던 또는 만들고 싶은 <br><span style="color:#EE7600;">IT 서비스에 대한 아이디어</span>를 공유해보세요. <br>Top 20에 선정된 아이디어는 구글 캠퍼스 서울에서 피칭을 하게 됩니다.</p>
                            </div>
                        </div>
                        <div class="container left">
                            <div class="content">
                                <h2>중앙해커톤(2019.8.16 ~ 8.17)</h2>
                                <p>그 동안의 노력과 열정에 대한 결실을 맺는 시간입니다.<br> 멋쟁이 사자처럼의 최대 규모 프로젝트인 중앙해커톤을 통해<br>직접 <span style="color:#F08080;">IT 서비스를 제작하여 출품</span>할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="container right">
                            <div class="content">
                                <h2>7기 수료(2019.12.20)</h2>
                                <p>수료증과 함께 멋쟁이 사자처럼 7기의 활동이 종료됩니다.<br> <span style="color:#EEC900;">멋쟁이 사자처럼 7기들의 앞날을 응원합니다.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap_2">
                    <div class="con">
                        <h1>Hack your life</h1>
                    </div>
                </div>
            </section>
            
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{% static 'js/jquery.flexslider.js'%}"></script>

    <script type="text/javascript" charset="utf-8">
        jQuery(window).load(function() {
        jQuery('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                jQuery('.flexslider').resize();
            }
        });
        });
    </script>
    <script src="{% static 'js/scrolloverflow.min.js'%}"></script>
    <script src="{% static 'js/fullpage.js'%}"></script>
    <script>
        window.onload = function(){
            $('#app0_1').css('opacity','1');
            $('#app0_1').css('transition','.5s');
            $('#app0_1').css('transform','translateX(0)');
            $('#app0_2').css('opacity','1');
            $('#app0_2').css('transition','.5s');
            $('#app0_2').css('transform','translateX(0)');
        }
    </script>
    <script>
        new fullpage('#fullpage', {
            anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage'],
            licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
            navigation: true,
            
            afterLoad: function(origin, section){
                var loadedSection = this;

                console.log(section.anchor);
                console.log(origin.index);
                if(section.anchor == 'firstPage'){
                    $('#app0_1').css('opacity','1');
                    $('#app0_1').css('transition','.5s');
                    $('#app0_1').css('transform','translateX(0)');
                    $('#app0_2').css('opacity','1');
                    $('#app0_2').css('transition','.5s');
                    $('#app0_2').css('transform','translateX(0)');
                }
                else{
                    $('#app0_1').css('opacity','0');
                    $('#app0_1').css('transform','translateX(100px)');
                    $('#app0_2').css('opacity','0');
                    $('#app0_2').css('transform','translateX(-100px)');
                }
                if(section.anchor == 'secondPage'){
                    $('.app1').css('opacity','1');
                    $('.app1').css('transition','.7s');
                    $('.app1').css('transform','translateY(0)');
                    $('#app1_1').css('opacity','1');
                    $('#app1_1').css('transition','.7s');
                    $('#app1_1').css('transform','translateY(0)');
                    $('#app1_2').css('opacity','1');
                    $('#app1_2').css('transition','.3s');
                    $('#app1_2').css('transform','translateY(0)');
                }
                else{
                    $('.app1').css('opacity','0');
                    $('.app1').css('transform','translateY(-100px)');
                    $('#app1_1').css('opacity','0');
                    $('#app1_1').css('transform','translateY(100px)');
                    $('#app1_2').css('opacity','0');
                    $('#app1_2').css('transform','translateY(100px)');
                }
                if(section.anchor == 'thirdPage'){
                    $('.app2').css('opacity','1');
                    $('.app2').css('transition','.5s');
                    $('.app2').css('transform','translateY(0)');
                    $('#app2_1').css('opacity','1');
                    $('#app2_1').css('transition','.5s');
                    $('#app2_1').css('transform','translateY(0)');
                    
                }
                else{
                    $('.app2').css('opacity','0');
                    $('.app2').css('transform','translateY(-100px)');
                    $('#app2_1').css('opacity','0');
                    $('#app2_1').css('transform','translateY(100px)');
                }
            }

        });
    </script>

    <script>
        function change_text(elem){
            if(elem == "text1"){
                $('#text1').css("display","flex");
                $('#text2').css("display","none");
                $('#text3').css("display","none");
                $('#item1').css("opacity","1");
                $('#item2').css("opacity",".6");
                $('#item3').css("opacity",".6");
                $('#item1').css("transform","scale(1.2)");
                $('#item2').css("transform","scale(1)");
                $('#item3').css("transform","scale(1)");
            }
            else if(elem == "text2"){
                $('#text1').css("display","none");
                $('#text2').css("display","flex");
                $('#text3').css("display","none");
                $('#item1').css("opacity",".6");
                $('#item2').css("opacity","1");
                $('#item3').css("opacity",".6");
                $('#item1').css("transform","scale(1)");
                $('#item2').css("transform","scale(1.2)");
                $('#item3').css("transform","scale(1)");
            }
            else if(elem == "text3"){
                $('#text1').css("display","none");
                $('#text2').css("display","none");
                $('#text3').css("display","flex");
                $('#item1').css("opacity",".6");
                $('#item2').css("opacity",".6");
                $('#item3').css("opacity","1");
                $('#item1').css("transform","scale(1)");
                $('#item2').css("transform","scale(1)");
                $('#item3').css("transform","scale(1.2)");
            }
        }
    </script>
{% endblock %}
