{% extends 'base.html' %}
{% block  content%}
{% load static %}

<section class="sch">
    <div class="con">
        <div class="event-calendar"></div>
    </div>
</section>

<section class="gap">
    <div class="con">
        <h1>7기</h1>
        <p>2019.03.11 ~ 2019.12.11</p>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{% static 'js/equinox.min.js'%}"></script>

<script>
	jQuery('.event-calendar').equinox({
        events: [{
            start: '2019-01-05 00:00',
            end: '2019-01-06 00:00 ',
            title: '운영진 OT',
            url: '#',
            class: '',
            color: '#F08080',
            data: {}},
            {
            start: '2019-01-07 17:30',
            end: '2019-02-28 17:30',
            title: '운영진 교육',
            url: '#',
            class: '',
            color: '#F08080',
            data: {}},
            {
            start: '2019-02-20 17:30',
            end: '2019-03-07 17:30',
            title: '7기 홍보 및 모집',
            url: '#',
            class: '',
            color: '#EEC900',
            data: {}},
            {
            start: '2019-03-10 17:30',
            end: '2019-03-10 17:30',
            title: '모집 결과 발표',
            url: '#',
            class: '',
            color: '#F08080',
            data: {}},
            {
            start: '2019-03-11 17:30',
            end: '2019-04-07 17:30',
            title: '7기 세션 Part 1',
            url: '#',
            class: '',
            color: '#EEC900',
            data: {}},
            {
            start: '2019-04-08 17:30',
            end: '2019-05-03 17:30',
            title: '중간고사 휴무',
            url: '#',
            class: '',
            color: '#F08080',
            data: {}},
            {
            start: '2019-05-04 17:30',
            end: '2019-05-23 17:30',
            title: '7기 세션 Part 2',
            url: '#',
            class: '',
            color: '#EEC900',
            data: {}},
            {
            start: '2019-05-24 17:30',
            end: '2019-05-25 17:30',
            title: '교내 해커톤',
            url: '#',
            class: '',
            color: '#EE7600',
            data: {}},
            {
            start: '2019-05-26 17:30',
            end: '2019-06-30 17:30',
            title: '기말고사 휴무',
            url: '#',
            class: '',
            color: '#F08080',
            data: {}},
            {
            start: '2019-07-01 17:30',
            end: '2019-08-03 17:30',
            title: '7기 세션 Part 3',
            url: '#',
            class: '',
            color: '#EEC900',
            data: {}},
            {
            start: '2019-07-20 17:30',
            end: '2019-07-21 00:00',
            title: '아이디어톤',
            url: '#',
            class: '',
            color: '#A90045',
            data: {}},
            {
            start: '2019-08-16 17:30',
            end: '2019-08-17 17:30',
            title: '해커톤',
            url: '#',
            class: '',
            color: '#A90045',
            data: {}},
            {
            start: '2019-11-23 17:30',
            end: '2019-11-24 17:30',
            title: '컨퍼런스',
            url: '#',
            class: '',
            color: '#A90045',
            data: {}},
            {
            start: '2019-12-20 17:30',
            end: '2019-12-21 17:30',
            title: '수료증 발급',
            url: '#',
            class: '',
            color: '#A90045',
            data: {}}],
    });
</script>

{% endblock  %}