
{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="picture">
    <div class="cont">
        <div class="content">
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>5기 헤커톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/friend.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/student/이시준.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img//picture_bg.jpg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>5기 헤커톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/friend.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/student/이시준.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img//picture_bg.jpg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>5기 헤커톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/friend.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/student/이시준.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img//picture_bg.jpg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>5기 헤커톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/friend.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/student/이시준.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img//picture_bg.jpg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사</p>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav_header">
                <div class="nav_master">
                    <img src="{% static '/img/student/김민석.png'%}" alt="">
                    <div class="nav_date">
                        <h2>일곱번째 멋사</h2>
                        <p>2019.3.11 ~ 2019.12.20</p>
                    </div>
                </div>
            </div>
            <div class="nav_box">   
                <div class="box_title">
                    <h5>바로가기</h5>
                    <p>knu 멋사s</p>
                </div>
                <ul>
                    <li><a href="{% url 'five'%}">
                        <img src="{% static '/img/student/이우섭.jpg'%}" alt="">
                        <div class="nav_navg">
                            <h4>다섯번 째 멋사</h4>
                            <p>2017.3.11 ~ 2017.12.20</p>
                        </div>
                    </a></li>
                    <li><a href="{% url 'six'%}">
                        <img src="{% static '/img/student/이령홍.jpg'%}" alt="">
                        <div class="nav_navg">
                            <h4>여섯번 째 멋사</h4>
                            <p>2018.3.11 ~ 2018.12.20</p>
                        </div>
                    </a></li>
                    <li><a href="{% url 'gallery'%}">
                        <img src="{% static '/img/student/김민석.jpg'%}" alt="">
                        <div class="nav_navg">
                            <h4>일곱번 째 멋사</h4>
                            <p>2019.3.11 ~ 2019.12.20</p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div> 
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(window).load(function() {
    jQuery('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
            jQuery('.flexslider').resize();
        }
    });
    });
</script>

{% endblock content %}
