
{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="picture">
    <div class="cont">
        <div class="content">
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>6기 OT&MT</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt5.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt6.jpg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt1.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt2.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt3.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt4.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/mt7.jpg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사#2018#6기시작#중앙OT#투정#청평</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>6기 세션</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/session1.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/session2.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/session3.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/session4.jpeg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사#멋쟁이사자처럼#이우섭#이령홍#아두이노#블록체인#융복합관#어두컴컴#나는개발자</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>6기 아이디어톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/idea1.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/idea2.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/idea3.jpeg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사#아이디어톤#20등#덕질#3등#이지현#김지연#유재인#이규민#장천닮음</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>6기 해커톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack4.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack1.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack2.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack3.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack5.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack6.jpeg'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/hack7.jpg'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사#2018#대망의해커톤#이우섭#트래픽#수상함#모두#열심히#했다!#고생했어요</p>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <img src="{% static '/img/friend.jpg'%}" alt="">
                    <h1>6기 유니스트 해커톤</h1>
                </div>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/uni1.JPG'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/uni2.JPG'%}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="{% static '/img/six/uni3.JPG'%}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <p>#헤커톤#해커톤#멋사#2018#해커톤은#아직#한발더남았다#유니스트#대학원생#머신러닝#재미</p>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav_header">
                <div class="nav_master">
                    <img src="{% static '/img/student/이령홍.jpg'%}" alt="">
                    <div class="nav_date">
                        <h2>여섯번째 멋사</h2>
                        <p>2018.3.11 ~ 2018.12.20</p>
                    </div>
                </div>
            </div>
            <div class="nav_box">   
                <div class="box_title">
                    <h5>바로가기</h5>
                    <p>knu 멋사s</p>
                </div>
                <ul>
                    <li><a href="{% url 'five'%}">
                        <img src="{% static '/img/student/이우섭.jpg'%}" alt="">
                        <div class="nav_navg">
                            <h4>다섯번 째 멋사</h4>
                            <p>2017.3.11 ~ 2017.12.20</p>
                        </div>
                    </a></li>
                    <li><a href="{% url 'six'%}">
                        <img src="{% static '/img/student/이령홍.jpg'%}" alt="">
                        <div class="nav_navg">
                            <h4>여섯번 째 멋사</h4>
                            <p>2018.3.11 ~ 2018.12.20</p>
                        </div>
                    </a></li>
                    <li><a href="{% url 'gallery'%}">
                        <img src="{% static '/img/student/김민석.jpg'%}" alt="">
                        <div class="nav_navg">
                            <h4>일곱번 째 멋사</h4>
                            <p>2019.3.11 ~ 2019.12.20</p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div> 
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>

<script type="text/javascript" charset="utf-8">
    jQuery(window).load(function() {
    jQuery('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
            jQuery('.flexslider').resize();
        }
    });
    });
</script>

{% endblock content %}
