.qna_new{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qna_new .con{
    margin-top:150px;
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(-90deg, #B91372, #6B0F1A);
}

.qna_new .con form{
    margin-top:20px;
    padding-top:50px;

    background:white;
}
.qna_new .con form .sibal{
    background:transparent;
    border:none;
    transition: .5s;
    font-size:1em !important;
    letter-spacing: 2px;
    padding-top:30px;
    padding-left:15px;
}

.qna_new .con form .sibal:hover{
    cursor: pointer;
    transition: .5s;
    padding-left:30px;
}


