@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
body{
    margin:0;
}

.signup{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .con{
    border-radius: 5px;
    padding-top:10px;
    padding-bottom:70px;
    padding-left:100px;
    padding-right: 100px;
    border:1px solid #eee;
}

.signup .con h1{
    color:#444;
    letter-spacing: 4px;
    padding-left: 10px;
    /* font-family: 'Oswald', sans-serif; */
    margin-bottom:30px;
}

.signup .con img{
    width: 100px;
    margin-bottom:30px;
}

.signup .con input{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size:16px;
    font-family: FontAwesome;
    display: block;
    width: 300px;
    border:none;
    border-radius: 30px;
    background:white;
    margin-top:12px;
    margin-bottom:12px;
    padding: 12px 30px;
    color:white;
    border:1px solid #eee;
}

.signup .con .input:hover{
    transition: .5s;
    cursor: pointer;
    background: white;
    color:#c50045;
    border:1px solid #c50045;
}

.signup .con input:focus{
    outline: none;
}

.signup .con .input{
    transition: .5s;
    font-family: 'Oswald', sans-serif;
    width: 360px;
    background:#c50045;
    border:1px solid #eee;
}

.signup .con .input:focus{
    background:transparent;
    outline: none;
}


.login{
    /* font-family: 'Oswald', sans-serif; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .con{
    border-radius: 5px;
    padding-top:10px;
    padding-bottom:70px;
    padding-left:100px;
    padding-right: 100px;
    border:1px solid #eee;
}

.login .con h1{
    color:#444;
    letter-spacing: 4px;
    padding-left: 10px;
    /* font-family: 'Oswald', sans-serif; */
    margin-bottom:30px;
}

.login .con img{
    width: 100px;
    margin-bottom:30px;
}

.login .con input{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size:16px;
    font-family: FontAwesome;
    display: block;
    width: 300px;
    border:none;
    border-radius: 30px;
    background:white;
    margin-top:12px;
    margin-bottom:12px;
    padding: 12px 30px;
    color:white;
    border:1px solid #eee;
}

.login .con input:focus{
    outline: none;
}

.login .con .input{
    /* font-family: 'Oswald', sans-serif; */
    width: 360px;
    background:#c50045;
    border:1px solid #ddd;
    transition: .5s;
}

.login .con .input:hover{
    transition: .5s;
    cursor: pointer;
    background: white;
    color:#c50045;
    border:1px solid #c50045;
}

.login .con .input:focus{
    outline: none;
}

.login .con a{
    letter-spacing: 2px;
    color: #444;
    text-decoration: none;
    /* font-size: 12px; */
}

.login .con .text{
    width: 100%;
    text-align: center;
}

