body{
    margin:0;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
    background:white;
    background-size:cover;
    background-position:center;}

.show .con{
    color: black;
    letter-spacing: 2px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.show .con .card{
    font-family: 'Oswald', sans-serif;
    max-width: 800px;
    border-top:30px solid rgb(200,5,69);
    border-radius: 10px;
}

.show .con .card .title .main{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.show .con .card .title .sub_title{
    padding-left:20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.show .con .card .title .sub_title i{
    margin-right:10px;
}


.show .con .card .title .sub_title p {
    margin-right: 40px;
    font-size: 10px;
}

.show .con .card .title .sub_title p a{
    color:black;
    text-decoration: none;
}

.show .con .card .title .sub_title .focus:hover{
    cursor: pointer;
}

.show .con .card .content{
    overflow-x: auto;
    min-height: 600px;
    padding: 50px 50px;
    border-bottom: 1px solid #eee;
}


.show .con .card .content img{
    width:100%;
    height: auto;
}

.show .con .card .content p{
    font-family: 'NIXGONM-Vb';
    word-wrap: break-word;
    word-break: keep-all;
}

.show .con .go{
    font-family: 'Oswald', sans-serif;
    padding:20px 50px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:white;
}

.show .con .go a{
    color:black;
    text-decoration: none;
}

.show .con .go a i{
    margin-left:10px;
    margin-right: 10px;
}

.show .con .go_2{
    font-family: 'Oswald', sans-serif;
    padding:20px 50px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:white;
}

.show .con .go_2 a{
    color:black;
    text-decoration: none;
}


